*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.nav{
  width: 100%;
  background: #3ebfff;
  background-position: center;
  background-size: cover;
  display: flex;
  margin: auto;
  padding:30px ;
  justify-content: space-around;
}


ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 2px;
  padding-left: 60%;
}

ul li{
  list-style: none;
  float: right;
  font-size: 12px;
  display: flex;
  padding-right: 10%;
}
ul li a{
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.contact{
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 24px;
  font-size: 10px;
}

.hero-img{
  display: flex;
  justify-content: center;
  background-image: url(./Images/Hero/image-header.jpg);
  background-size: cover;
  height: 120vh;
  width: 100%;
  font-size: 60px;
  position: relative;
  color: white;
  
}
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2%;
  height: 100px;
  position: relative;
  top: 330px;
  right: 360px;
}

.transform{
  width: 1347px;
  height: 520px;
  position: relative;
  display: flex;
  background-color: #fffbf8;  
}

.text{
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  padding: 130px;
  font-size: 20px;
}

.EGG{
  background-color: #fed201;
  width: 99.5vh;
  height: 120vh;
  margin-left: 50px;
}

.standout{
  position: relative;
  display: flex;
  background-color: #fffbf8;
  top: 60px;
  background-size: cover;
}

.stand-text{
  padding: 130px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  font-size: 20px;
}

.cup{
  position: relative;
  margin-left: 12px;
  margin-bottom: 30px;
  width: 107vh;
  height: 560px;
  background-color: #ff7e6e;
}

.design{
  position: relative;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  top: 30px;
}
.red{
  width: 700px;
  position: relative;
  background-image: url(./Images/Graphic/image-graphic-design.jpg);
  background-size: cover;
  height: 100vh;
  padding: 95px;
}

.orange{
  z-index: 100;
  position: relative;
  background-image: url(./Images/Graphic/image-photography.jpg);
  background-size: cover;
  height: 100vh;
}

.red-text{
  position: relative;
  padding-bottom: 140px;
  padding-top: 280px;
  padding-left: 100px;
  margin: 40px;
}

.orange-text{
  position: relative;
  padding-bottom: 140px;
  padding-top: 280px;
  padding-left: 100px;
  margin: 40px;
}

.client{
  width: 100%;
  position: relative;
  align-items: center;
}

.testi{
  color: #505050;
  padding-top: 160px;
  padding-left: 610px;
  font-size: 10px;
}

.statements{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.emily{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  position: relative;;
  background-size: cover;
  height: 100vh;
  padding: 95px;
}
.emi-text{
  color: #505050;
  padding-top: 70px;
  font-size: smaller;
  font: flex;
}

.thomas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  position: relative;
  background-size: cover;
  height: 100vh;
  padding: 95px;
}
.tom-text{
  color: #505050;
  padding-top: 70px;
  font-size: smaller;
  font: flex;
}

.jennie{
  width: 650px;
  position: relative;
  background-size: cover;
  height: 100vh;
  padding: 95px;
}
.jen-text{
  color: #505050;
  padding-top: 70px;
  font-size: smaller;
  font: flex;
}

.emi{
  padding:0px;
  border-radius: 60%;
  width: 120px;
}

.tom{
  border-radius: 60%;
  width: 120px;
}

.jen{
  border-radius: 60%;
  width: 120px;
}

.Emi-R{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505050;
  padding: 40px;
}

.Tom-S{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505050;
  padding: 28px;
}

.Jen-F{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505050;
  padding: 40px;
}


.Pics{
  background: #90d4c5;
  position: relative;
  display: flex;
  padding-bottom: 70px;
}
.milk{
  width: 339px;
}
.plate{
  width: 339px;
}
.cone{
  width: 339px;
}
.sugar{
  width: 339px;
}

.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #90d4c5;
  height: 120px;
  margin: auto;
  padding: 100px;
}

.sunny{
  color: #32796b;
  margin-top: 10px;
  margin-bottom: 30px;
}

.ASP{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 70px;
}

.socials{
  display: flex;
  gap: 30px;
  margin-bottom: 90px;
}
